<launch>

   <master auto="start"/>
 <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find marvelbot_2dnav)/map112.yaml"/>

<!-- http://wiki.ros.org/amcl 
	AMCL has many configuration options 
	that will affect the performance of localization.-->
	
 <!--- Run AMCL --> 
    <include file="$(find amcl)/examples/amcl_diff.launch" />

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find marvelbot_2dnav)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find marvelbot_2dnav)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find marvelbot_2dnav)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find marvelbot_2dnav)/launch/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find marvelbot_2dnav)/launch/base_local_planner_params.yaml" command="load" />
 </node>
<!-- rviz setting -->
    <node pkg="rviz" type="rviz" name="rviz" args = "-d $(find marvelbot_2dnav)/launch/test.rviz" />
</launch> 